<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/index.css">
    <link rel="icon" href="../public/img/icon.svg">
    <title>MyConverter</title>
</head>
<body>
    <header>
        <h5 class="logo"><img src="../public/img/logo.svg" alt="."></h5>
        <p class="num-con">converted files: {{ converted }}</p>
    </header>
    <main>
        <div class="convert-txt">
            <h1>Convert Word to PDF Documents Online for FREE</h1>
        </div>

        <div class="down">
            <div class="down-left">
                <img src="../public/img/wtp.svg" alt="problem">
            </div>
            <div class="down-right">
                <div>
                    <form class='fileupload' action="/" method="POST" enctype="multipart/form-data">
                        <input type="file" id="file" name="upfile" value="" accept=".docx">
                        <label for="file" class="input-file">
                            <img src="../public/img/fileicon.svg" alt=".">
                            Chose File
                        </label>
                        <div class="submit-div">
                            <button type="submit" class="submit">
                                <img src="../public/img/convert.svg" alt=".">
                            </button>
                        </div>
                    </form>
                    <div class= {{ div }} id="download-btn">
                        <a href="{{ file }}" class={{ class }} {{ maybe }}={{ filename }}>
                            <img src="../public/img/download.svg" alt="."> {{ download }}
                        </a>
                    </div>
                    <div class="or">
                        <hr>
                        <p>or download from mail</p>
                    </div>
                    <form class="get-email" action="/thanks" method="POST" enctype="multipart/form-data">
                        <input type="email" class="email-input" name="email" id="" value="" placeholder="Enter your mail" required="">
                        <div>
                            <button type="submit" class="send">
                                <img src="../public/img/gmail.svg" alt=".">
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>
</html>